@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
}

body {
  min-height: 100vh;
  background: #090a0c;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
